<div style="margin: 100px 10px;">
    <div id="nombreSesion" class="row text-end">
        <div class="col">
            <p style="text-transform: uppercase;">Bienvenido, {{persona}}
                <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesión</a>
            </p>
        </div>
    </div>
    {{!-- Abre Admin Novedades --}}
    <div class="row" style="margin: 50px 10px;">
            <h1>Listado de Novedades:</h1>
        <div class="col-3">
            <a href="/admin/novedades/agregar" class="btn btn-success">Nueva entrada</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Título</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each novedades}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{titulo}}</td>
                        <td>{{fecha}}</td>
                        <td>{{precio}}</td>
                        <td class="text-center">
                            <a href="/admin/novedades/modificar/{{id}}" class="btn btn-outline-secondary">
                                <i class="bi bi-pencil"></i></a>
                            <a href="/admin/novedades/eliminar/{{id}}" class="btn btn-outline-warning">
                                <i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>